.footer-detail {
    justify-content: center;
    text-align: center;
    color: #d9d9d7;
    font-family: 'Roboto', sans-serif;
    background-color: darkgrey;
    color: #ffff;
    font-size: 0.8em;
    padding-top: 5px;
    padding-bottom: 10px;
    margin: 0, auto;
}