
.title-box > h1 {
    position: absolute;
    width: 100%;
    top: 22rem;
    z-index: 1;
    margin-top: -180px;
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    color: #343a40;
    font-weight: bold;
    
    
}

.title-box > p {
    position: absolute;
    width: 30%;
    top: 22rem;
    z-index: 1;
    margin-top: -60px;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    font: 15rem;
}

.home-page {
    margin-right: 1000px;
}

