

.title-box {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
    
}

.title-box h1 {
    font-size: 4rem;
    
}

.title-box p {
    font-size: 1.4rem;
}

.display .btn {
    position: absolute;
    top: 75%;
    left: 48%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 20px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;   
    
}

.display .btn:hover {
    background-color: black;
}

